/* Media Querries and resposiveness */
@media (max-width: 1380px) {
  .deals img {
    width: 330px;
  }
}

@media (max-width: 1330px) {
  .snap {
    max-width: 1100px;
  }

  .banner {
    max-width: 1100px;
  }

  .showcase {
    width: 1100px;
  }
}

@media (max-width: 1180px) {
  .tese-1 {
    display: none;
  }

  .tese-2 {
    display: contents;
  }

  .testimony-services.tese-2 .cards-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
    margin: 40px 0;
  }

  .testimony-services.tese-2 .card {
    width: 400px;
  }

  .testimony-services.tese-2 h4.display-title {
    width: 430px;
  }

  .testimony-services.tese-2 .summer-collection {
    width: 800px;
    margin: auto;
  }
}

@media (max-width: 1165px) {
  .snap {
    max-width: 900px;
  }

  .banner {
    max-width: 900px;
  }

  .banners .dot {
    top: -90px;
  }

  .showcase {
    width: 900px;
  }

  .input {
    width: 500px;
  }

  .input input {
    width: 400px;
  }

  .text {
    height: 270px;
    margin: 5px 3rem;
    padding: 40px;
    left: 50px;
  }

  .text .trending {
    font-size: 25px;
  }

  .text h1 {
    font-size: 27px;
  }

  .text span {
    font-size: 25px;
  }

  .price {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .category-seller {
    /* display: none; */
  }
}
