@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");

:root {
  --background-color: #f8fafc;
  --background-color: #ffffff;
  --dark-color: #000000;
  --light-color: #ffffff;
  --grey-mid-light: #acacac;
  --grey-mid-dark: #2d2d2d;
  --grey-light: #e6e6e6;

  --dark-grey: #1a1a1a;
  --light-grey: #ececec;
  --primary-color: #ed6a5e;
  --secondary-color: #f0932b;
  --tertiary-color: #ff0000;
  --accent-color: #3ecc6e;

  --body-font: "Nunito", sans-serif;
  --heading-font: "Lato", sans-serif;
  --rough-font: "Proza Libre", sans-serif;
  --accent-font: "Josefin Sans", sans-serif;

  --fs-small: 14px;
  --fs-normal: 16px;
  --fs-regular: 18px;
  --fs-large: 20px;
  --fs-xlarge: 24px;
  --fs-xxlarge: 32px;

  --transition-3: 0.5s ease-in-out all;

  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  font-family: var(--body-font);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

.display-none {
  display: none;
}

/*
================================================================================================================================
Newsletter
================================================================================================================================
*/
.newsletter {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
}

.position {
  display: flex;
}

.newsletter .card {
  padding: 0px;
  margin: auto;
  max-width: 800px;
  position: relative;
  border-radius: 10px;

  animation: fadeIn 1s ease-in forwards;
  animation: fromBottom 1s ease-in forwards;
}

.news {
  padding: 10px;
}

.newsletter p {
  font-size: 17px;
}

.newsletter .img {
  border-radius: 10px;
}

.newsletter input {
  padding: 5px;
  width: 300px;
  border: 1px solid var(--grey-mid-light);
}

.newsletter .btn {
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
  letter-spacing: 0.7px;

  transition: 0.3s ease-in;
}

.newsletter .close {
  top: 20px;
  right: 20px;
  width: 25px;
  padding: 3px;
  font-weight: 600;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  color: var(--light-color);
  border: 1px solid var(--light-color);
  background-color: var(--primary-color);

  transition: 0.3s ease-in;
}

.newsletter .close:hover {
  background-color: var(--tertiary-color);
}

/*
================================================================================================================================
Header
================================================================================================================================
*/
.header {
  background-color: var(--grey-dark);

  animation: slide-bottom 3s ease-in forwards;
}

.header .flex {
  justify-content: space-between;
}

.header ul i {
  padding: 10px 5px;
  border-radius: 5px;
  color: var(--light-color);
  background-color: var(--grey-dark);
}

.promo h5 {
  font-size: var(--fs-normal);
  color: var(--primary-color);
}

.promo span {
  font-weight: bold;
}

.lang-currency {
  color: var(--light-color);
}

.lang-currency p {
  padding: 0;
  margin: 0;
}

.lang-currency .flex {
  gap: 10px;
}

.lang-currency i {
  padding: 2px;
}

/*
================================================================================================================================
Navbar
================================================================================================================================
*/
.navbar .flex {
  height: 60px;
  justify-content: space-between;
}

.navbar .img {
  height: 40px;
}

.input {
  padding: 0 10px;
  max-width: 700px;
  border-radius: 15px;
  border: 1px solid var(--grey-mid-light);
}

.input .flex {
  height: 45px;
}

.input input {
  width: 600px;
  height: 20px;
  padding: 0 10px;
  background-color: var(--background-color);
}

.input i {
  color: var(--tertiary-800);
  color: var(--secondary-color);
}

.profile .count {
  position: relative;
}

.profile .count p {
  right: 0;
  font-weight: 600;
  position: absolute;
  color: var(--tertiary-color);
}

.profile li a {
  color: var(--primary-color);

  transition: color 0.4s ease-in;
}

.profile li a:hover,
.profile li a:focus {
  color: var(--tertiary-color);
}

/*
================================================================================================================================
Services
================================================================================================================================
*/
.services .container-4 {
  overflow: visible;
}

.sip {
  gap: 30px;
  padding: 10px 0px;
  align-items: flex-start;
}

.item {
  padding: 5px 5px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--dark-grey);
}

.dropdown-card {
  position: relative;
  right: 250px;
}

.dropdown {
  position: relative;
  margin: 0;
}

.dropdown .card {
  margin-top: 5px;
}

.drop-down {
  top: 100%;
  z-index: 10;
  opacity: 0%;
  min-width: 250px;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--light-color);

  transition: var(--transition-3);
}

.drop-down .display-title {
  margin: 0 0 10px 0;
}

.menu .grid {
  grid-template-columns: repeat(4, 1fr);
}

.menu .grid img {
  width: 250px;
  border-radius: 5px;
}

.services .dropdown:hover .drop-down,
.services .dropdown .item:focus + .drop-down,
.services .dropdown .item:focus + .dropdown-card .drop-down {
  opacity: 100%;
  visibility: visible;
  pointer-events: all;

  animation: dropdown 0.3s ease-out forwards;
}

.drop-down:hover {
  transform: scale(0.98);
  box-shadow: var(--shadow-4);
}

.list-item {
  font-weight: 400;

  transition: 0.4s ease-in;
}

.drop-down li {
  margin: 3px 0;
  padding: 3px 0;
}

.list-item:hover {
  font-weight: 600;
  color: var(--primary-color);
}

.item:hover {
  color: var(--primary-color);
}

/*
================================================================================================================================
Banner
================================================================================================================================
*/
.banner {
  height: 450px;
  max-width: 1400px;
}

.snap {
  margin: 0 auto;
  max-width: 1400px;
  margin-bottom: 40px;
  transition: var(--transition-3);
}

.showcase {
  z-index: 1;
  margin: auto;
  height: 450px;
  max-width: 1500px;
  position: relative;
  border-radius: 5px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-one {
  background-image: url("../images/banner-1.jpg");
}

.banner-two {
  background-image: url("../images/banner-2.jpg");
}

.banner-three {
  background-image: url("../images/banner-3.jpg");
}

.slide-in {
  animation-duration: 3s;
  animation-name: slide-right;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.slide-out {
  animation-duration: 1s;
  animation-name: slide-left;
  animation-timing-function: ease-out;
}

.text {
  z-index: 5;
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  justify-content: flex-start;
}

.text .trending {
  color: var(--primary-color);
}

.text h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.text h3 {
  padding: 10px 0;
  font-weight: 700;
}

.text .price {
  color: var(--tertiary-color);
  font-weight: 700;
}

.price span {
  font-size: 2.5rem;
}

.text button {
  font-weight: 600;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.banners .dots {
  gap: 20px;
}

.dot {
  transition: 0.5s;
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.dot:hover {
  background-color: var(--primary-color);
}

/*
================================================================================================================================
Product
================================================================================================================================
*/
.products {
  animation: products-slide 3s ease-in forwards;
}

.products .container-5 {
  height: 130px;
  padding: 0 20px;
}

.product-showcase::-webkit-scrollbar {
  width: 1vw;
  height: 1.5vh;
}

.product-showcase::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

.product-showcase::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid var(--light-color);
  background-color: var(--grey-mid-light);
}

.product-showcase::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey-mid-dark);
}

.product-showcase {
  gap: 10px;
  width: 100%;
  display: flex;
  overflow: hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.product-showcase:hover {
  overflow: auto hidden;
}

.item-card {
  min-width: 320px;
  margin-bottom: 10px;
  scroll-snap-align: start;
  justify-content: flex-start;
  background-color: var(--light-color);

  box-shadow: var(--shadow-2);
}

.item-img {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
}

.item-img img {
  height: 30px;
}

.item-description h5 {
  font-size: 1rem;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--accent-font);
}

.item-description a {
  font-weight: 600;
  color: var(--tertiary-color);
}

.product-name {
  gap: 40px;
  justify-content: space-between;
}

.highlight {
  background-color: var(--primary-color);
}

/*
================================================================================================================================
Display
================================================================================================================================
*/
.display .container-5 {
  padding: 0 15px;
  overflow: visible;
}

.display .grid {
  align-items: flex-start;
  justify-content: flex-start;
  grid-template-columns: 2fr 6fr;
}

.category h3 {
  font-size: 25px;
  font-weight: 600;
  color: var(--grey-mid-dark);
}

.category-seller {
  top: 20px;
  position: sticky;
}

.category.card {
  max-width: 300px;
  background-color: var(--light-color);
}

.category .flex {
  justify-content: space-between;
}

.category li {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--grey-light);
}

.category img {
  width: 30px;
  border-radius: 7px;
}

.category-list {
  height: 50px;
}

.category-list p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: var(--accent-font);
}

.category-sub-item ul {
  margin-bottom: 20px;
}

.category-sub-item ul li {
  margin: 0px;
  padding: 3px;
  border: none;
  height: 30px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seller {
  max-width: 500px;
}

.seller h3 {
  font-size: 25px;
  font-weight: 600;
}

.seller-description .title {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--accent-font);
}

.category-seller a:hover {
  color: var(--primary-color);
}

.category-seller a:focus {
  outline: none;
  color: var(--primary-color);
}

.seller-item {
  justify-content: flex-start;
}

.seller-item img {
  width: 50px;
  padding: 20px 0;
}

.rate-icons i {
  padding: 0px;
  margin: 0px;
  color: var(--secondary-color);
}

.rate-icons {
  gap: 1px;
  padding: 10px 0;
  justify-content: flex-start;
}

.cost {
  justify-content: flex-start;
}

.cost h5 {
  font-size: 16px;
  font-weight: 600;
  color: var(--grey-mid-light);
}

.cost h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--tertiary-color);
  font-family: var(--accent-font);
}

.striked {
  text-decoration: line-through var(--grey-mid-light) solid 1px;
}

/* ================ Display showcase ================== */
.display-showcase {
  gap: 20px;
  justify-content: flex-start;
}

.display-showcase .grid {
  height: 450px;
  grid-template-columns: repeat(2, 1fr);
}

.tabs {
  overflow-x: hidden;
  padding-bottom: 10px;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.tabs:hover {
  overflow: auto hidden;
}

.tabs::-webkit-scrollbar {
  width: 1vh;
  height: 2vh;
}

.tabs::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

.tabs::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: var(--tone-200);
  border: 1px solid var(--grey-300);
}

.tabs::-webkit-scrollbar-thumb:hover {
  background-color: var(--tone-300);
}

.tab {
  scroll-snap-align: start;
}

.display-title {
  padding: 10px;
  font-weight: 600;
}

.drop-down .display-title {
  padding: 0px;
}

.display-showcase .card {
  max-width: 310px;
  box-shadow: none;
  overflow: visible;
  padding: 10px 10px;

  box-shadow: var(--shadow-2);
}

.collection {
  gap: 15px;
  justify-content: flex-start;
}

.collection.card {
  width: 500px;
}

.collection img {
  width: 80px;
  border-radius: 7px;
}

.collection-description h4 {
  font-size: 19px;
}

.collection-description .vet {
  font-size: 17px;
  font-weight: 600;
  font-family: var(--accent-font);
}

@keyframes walk-left {
  0% {
  }
}

.item-name {
  padding: 5px 0;
  font-size: 17px;
}

.item-name:hover {
  color: var(--secondary-color);
}

.item-name:focus {
  outline: none;
  font-weight: bold;
  color: var(--secondary-color);
}

.collection-description .cost h4 {
  font-size: 17px;
  color: var(--tertiary-color);
}

.deals-1,
.deals-2 {
  padding: 40px;
}

.deals img {
  width: 50px;
  padding: 20px 0;
  text-align: center;
  border-radius: 50%;
}

.actual-cost {
  color: var(--tertiary-color);
}

.deals .striked {
  color: var(--grey-mid-light);
}

.deals .btn {
  background-color: var(--dark-color);
}

.deals-2 .btn {
  background-color: var(--dark-color);
}

.deals button h4 {
  color: var(--light-color);
}

.progress-details {
  margin: 0 20px;
  justify-content: space-between;
}

.progress {
  padding: 5px;
  border-radius: 50px;
  margin-bottom: 20px;
  background-color: var(--grey-light);
}

.time {
  justify-content: flex-start;
}

.time .card {
  gap: 0px;
  margin: 0;
  box-shadow: none;
  background-color: var(--grey-light);
}

.new {
  gap: 10px;
}

.new .card {
  height: 420px;
  overflow: hidden;
  max-width: 230px;
  position: relative;
  background-color: var(--light-color);

  box-shadow: var(--shadow-1);
  transition: var(--transition-3);
}

.new .card:hover {
  box-shadow: var(--shadow-4);
}

.view-img {
  height: 200px;
  transition: var(--transition-3);
}

.view-img:hover {
  transform: scale(1.2);
}

.new .offer {
  top: 15px;
  left: 15px;
  padding: 2px 5px;
  border-radius: 4px;
  position: absolute;
  background-color: var(--accent-color);
}

.new #no1 .offer h5 {
  color: var(--light-color);
}

.new .sale-new {
  top: 10px;
  left: -50px;
  width: 150px;
  padding: 5px 20px;
  position: absolute;
  transform: rotateZ(-45deg);
}

.new .sale-new {
  background-color: var(--dark-color);
}

.new #no4 .sale-new,
.new #no12 .sale-new {
  background-color: var(--primary-color);
}

.new .sale-new h5 {
  font-size: 14px;
  text-align: center;
  font-family: var(--accent-font);
  color: var(--light-color);
}

.new .card:hover .options {
  opacity: 1;
  pointer-events: all;
  visibility: visible;

  animation: options 0.5s ease-in-out forwards;
}

.new .options {
  right: 0;
  top: 10px;
  gap: 10px;
  opacity: 0;
  padding: 3px;
  display: flex;
  margin-right: 5px;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  flex-direction: column;
  justify-content: space-between;

  animation: options-out 0.5s ease-in-out forwards;
  transition: 1s;
}

.new .options a {
  padding: 1px;
  transition: 1s;
  border-radius: 5px;
  background-color: var(--light-color);
  border: 1px solid var(--grey-mid-light);
}

.new .options a:hover {
  border-color: var(--dark-color);
  background-color: var(--dark-color);
}

.new .options i {
  width: 30px;
  height: 30px;
  display: flex;
  transition: 1s;
  align-items: center;
  justify-content: center;
  color: var(--grey-mid-light);
}

.new .options i:hover {
  color: var(--light-color);
}

.jacket {
  background-image: url("../images/products/jacket-3.jpg");
}

.shirt {
  background-image: url("../images/products/shirt-1.jpg");
}

.trench {
  background-image: url("../images/products/jacket-5.jpg");
}

.skirt {
  background-image: url("../images/products/clothes-3.jpg");
}

.casual {
  background-image: url("../images/products/shoe-2.jpg");
}

.pocket-watch {
  background-image: url("../images/products/watch-3.jpg");
}

.wrist-watch {
  background-image: url("../images/products/watch-1.jpg");
}

.party {
  background-image: url("../images/products/party-wear-1.jpg");
}

.coat {
  background-image: url("../images/products/jacket-1.jpg");
}

.sports {
  background-image: url("../images/products/sports-2.jpg");
}

.formal {
  background-image: url("../images/products/shoe-1.jpg");
}

.shorts {
  background-image: url("../images/products/shorts-1.jpg");
}

.new-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--tertiary-color);
  font-family: var(--accent-font);
}

.view .rate-icons {
  padding: 5px 0;
  justify-content: flex-start;
}

.tese-2 {
  display: none;
}

.testimony-services .grid {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  align-items: flex-start;
  grid-template-columns: 1fr 2fr 1fr;
}

.testimony-services i {
  color: var(--primary-color);
}

.testimony-services .display-title {
  font-size: 22px;
  text-align: left;
  font-family: var(--heading-font);
}

.testimonials img {
  width: 120px;
  border-radius: 50%;
}

.testimonials .imag {
  display: flex;
  justify-content: center;
}

.summer-collection {
  display: grid;
  max-height: 450px;
  min-height: 400px;
  align-items: center;
  justify-content: center;
  background-image: url(../images/cta-banner.jpg);
}

.summer-collection .card {
  opacity: 60%;
}

.discount {
  left: 25%;
  max-width: 130px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.blade h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--accent-font);
}

.blade h5 {
  font-family: var(--accent-font);
}

.blade .flex {
  justify-content: flex-start;
  gap: 0;
}

.blade .flex i:hover {
  color: var(--dark-color);
}

/*
================================================================================================================================
Exhibition
================================================================================================================================
*/
.exhibition img {
  width: 250px;
  border-radius: 10px;
}

.edition-item {
  flex: 200px;
}

.edition {
  gap: 20px;
  justify-content: flex-start;
}

.indice {
  color: var(--tertiary-color);
  letter-spacing: 1px;
}

.sip {
  font-weight: 600;
}

.flip {
  font-size: 14px;
}

/*
================================================================================================================================
Footer
================================================================================================================================
*/
.footer {
  padding-bottom: 2rem;
  background-color: var(--grey-dark);
}

.footer h4,
.footer h3 {
  color: var(--light-color);
  font-weight: 600;
}

.footer h5 {
  font-weight: 600;
  letter-spacing: 1.2px;
  color: var(--light-color);
}

.brands {
  border-radius: 20px;
  padding-bottom: 1.5rem;
  color: var(--grey-mid-light);
}

.brands .flex {
  justify-content: flex-start;
}

.brands ul h4 {
  font-size: 20px;
}

.brands .bold {
  color: var(--primary-color);
}

.quick-links {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.quick-links li a {
  color: var(--grey-mid-light);
}

.quick-links li a:hover {
  color: var(--primary-color);
}

.contact .flex {
  justify-content: flex-start;
  color: var(--grey-mid-light);
}

.social {
  gap: 2px;
  padding: 5px 0;
}

.social i {
  color: var(--light-color);
}

.social i:hover {
  color: var(--primary-color);
}

.contribution img {
  width: 400px;
}

.contribution {
  padding-top: 2rem;
  border-radius: 30px;
}

.copyright h5 {
  font-weight: 600;
}

/* Animations */
@keyframes dropdown {
  0% {
    top: 300px;
  }
  25% {
    top: 300px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes fromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

/* @keyframes slide-bottom {
  0% {
    top: -500px;
  }
  100% {
    top: 0px;
  }
}

@keyframes slide-top {
  0% {
    right: -1500px;
  }

  100% {
    right: 0px;
    transform: rotateX(0deg);
  }
}

@keyframes slide-left {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-right {
  0% {
    left: -500px;
  }

  100% {
    left: 0px;
  }
}

@keyframes dots-slide {
  0% {
    top: 200px;
  }

  100% {
    top: -50px;
  }
}

@keyframes products-slide {
  0% {
    top: 120px;
  }

  100% {
    top: 0px;
  }
}

@keyframes options {
  0% {
    right: -60px;
  }
  100% {
    right: 0px;
  }
}

@keyframes options-out {
  0% {
    right: 0px;
  }
  100% {
    right: -60px;
  }
} */
