/*
================================================================================================================================
Header
================================================================================================================================
*/
.header {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--sip-300);
  background-color: var(--tone-600);
  animation-name: slide-bottom;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.header .flex {
  justify-content: space-between;
  height: 25px;
}

.social-media i {
  background-color: var(--grey-300);
  color: var(--grey-700);
  padding: 15px 5px;
  border-radius: 5px;
}

.social-media i:hover {
  background-color: var(--tertiary-600);
  color: var(--light-color);
}

.promo h5 {
  font-size: var(--font-size-2);
  color: var(--faded-500);
}

.promo span {
  font-weight: bold;
}

.lang-currency {
  color: var(--light-color);
}

.lang-currency select {
  background-color: var(--tone-600);
  border-radius: 5px;
  padding: 0px 5px;
  color: var(--light-color);
  font-size: 14px;
  outline: none;
  border: none;
}

.lang-currency option {
  background-color: var(--grey-200);
  color: var(--dark-color);
  padding: 30px;
  border: none;
}

.lang-currency option[value] {
  outline: none;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 13px;
}

.lang-currency option[value]:hover {
  background-color: var(--primary-300);
}

.lang-currency h4 {
  color: var(--light-color);
  font-size: var(--font-size-3);
}

.lang-currency .flex {
  gap: 10px;
}

.lang-currency i {
  padding: 2px;
}

.lang-currency i:hover {
  color: var(--sip-500);
}

/*
================================================================================================================================
Navbar
================================================================================================================================
*/
.navbar {
  position: relative;
  border-bottom: 1px solid var(--sip-300);
  background-color: var(--grey-100);
  border-radius: 0 0 30px 30px;
  animation-name: slide-bottom;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.navbar .flex {
  justify-content: space-between;
  height: 60px;
}

.navbar .img {
  height: 40px;
}

.input {
  border: 1.5px solid var(--flip-700);
  border-radius: 15px;
  width: 700px;
  padding: 0 10px;
}

.input .flex {
  height: 45px;
}

.input input {
  padding: 0 10px;
  background-color: var(--grey-100);
  width: 600px;
  height: 20px;
}

.input i {
  color: var(--tertiary-800);
}

.profile .count {
  position: relative;
}

.profile .count p {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-weight: bold;
  right: 10px;
  top: 0;
  background-color: var(--faded-500);
  padding: 3px 3px;
  margin: 0px;
  border-radius: 50%;
  color: var(--light-color);
  line-height: 1;
}

.profile li a {
  color: var(--grey-800);
}

.profile li a:hover,
.profile li a:focus {
  color: var(--red-300);
}

/*
================================================================================================================================
Services
================================================================================================================================
*/
.services {
  position: relative;
  animation-name: slide-bottom;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.services .container-4 {
  overflow: visible;
}

.sip {
  gap: 30px;
  align-items: flex-start;
}

.item {
  padding: 3px 5px;
  height: 30px;
  color: var(--grey-800);
  font-weight: 600;
  letter-spacing: 1px;
}

.dropdown-card {
  position: relative;
  right: 250px;
}

.dropdown {
  position: relative;
  margin: 0;
}

.dropdown .card {
  margin: 0px;
}

.drop-down {
  position: absolute;
  top: 100%;
  min-width: 250px;
  background-color: var(--complement-30);
  visibility: hidden;
  opacity: 0%;
  pointer-events: none;
  z-index: 10;
  transition: var(--transition-3);
}

.drop-down .display-title {
  margin: 0 0 10px 0;
}

.menu .grid {
  grid-template-columns: repeat(4, 1fr);
}

.menu .grid img {
  width: 250px;
  border-radius: 5px;
}

.services .dropdown:hover .drop-down,
.services .dropdown .item:focus + .drop-down,
.services .dropdown .item:focus + .dropdown-card .drop-down {
  visibility: visible;
  opacity: 100%;
  pointer-events: all;
  animation: dropdown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.drop-down:hover {
  box-shadow: var(--shadow-4);
  transform: scale(0.98);
}

.list-item {
  font-family: var(--bodyfont-1);
  font-weight: 400;
}

.drop-down li {
  padding: 3px 0;
  margin: 3px 0;
}

.list-item:hover {
  color: var(--faded-500);
  font-weight: 600;
}

.item:hover {
  color: var(--faded-600);
  border-bottom: 2px solid var(--sip-400);
  /* border-radius: 30px; */
}

.item:focus {
  color: var(--faded-600);
  border-bottom: 2px solid var(--sip-400);
  border-radius: 30px;
  outline: none;
}

/*
================================================================================================================================
Banner
================================================================================================================================
*/
.snap {
  display: flex;
  margin-bottom: 40px;
  max-width: 1300px;
  overflow: hidden;
  margin: 0 auto;
  transition: var(--transition-3);
}

.banner {
  height: 450px;
  max-width: 1300px;
}

.showcase {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 450px;
  width: 1300px;
  margin: auto;
  border-radius: 5px;
  z-index: 1;
}

.banner-one {
  background-image: url("../images/banner-1.jpg");
}

.banner-two {
  background-image: url("../images/banner-2.jpg");
}

.banner-three {
  background-image: url("../images/banner-3.jpg");
}

.text.text-one {
  position: absolute;
  top: 215px;
  left: 50px;
  justify-content: flex-start;
  margin: 10px 5rem;
  padding: 40px;
  animation-name: slide-right;
  /* animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in; */
}

.slide-in {
  animation-name: slide-right;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.slide-out {
  animation-name: slide-left;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.text {
  position: absolute;
  top: 215px;
  left: 50px;
  height: 420px;
  justify-content: flex-start;
  margin: 10px 5rem;
  padding: 40px;
  z-index: 5;
  transition: 2s;
}

.text .trending {
  color: var(--red-300);
}

.text h1 {
  max-width: 400px;
  font-family: var(--bodyfont-2);
  font-weight: bold;
}

.text h3 {
  font-weight: bold;
  padding: 10px 0;
  font-family: var(--bodyfont-2);
}

.text .price {
  color: var(--grey-600);
}

.price span {
  font-size: 3rem;
}

.text button {
  font-weight: 600;
}

.manual-navigation {
  width: 1300px;
}

.banners .dots {
  position: absolute;
  left: 50%;
  /* left: 50%;
  gap: 30px; */
}

.banners .dot {
  position: relative;
  top: -50px;
  animation-name: dots-slide;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  z-index: 7;
}

.dot {
  background-color: transparent;
  border: 2px solid var(--faded-500);
  transition: 1s;
}

.dot:hover {
  background-color: var(--faded-500);
}

/*
================================================================================================================================
Product
================================================================================================================================
*/
.products {
  position: relative;
  animation-name: products-slide;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.products .container-5 {
  padding: 0 50px;
  height: 130px;
}

.product-showcase::-webkit-scrollbar {
  width: 1vw;
  height: 1vh;
}

.product-showcase::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

.product-showcase::-webkit-scrollbar-thumb {
  background-color: var(--tone-200);
  border-radius: 50px;
  border: 1px solid var(--grey-300);
}

.product-showcase::-webkit-scrollbar-thumb:hover {
  background-color: var(--tone-300);
}

.product-showcase {
  display: flex;
  overflow: hidden;
  width: 100%;
  gap: 10px;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.product-showcase:hover {
  overflow: auto hidden;
}

.item-card {
  background-color: var(--background-color);
  border: 1px solid var(--grey-500);
  min-width: 320px;
  margin-bottom: 10px;
  justify-content: flex-start;
  box-shadow: var(--shadow-2);
  scroll-snap-align: start;
}

.item-img {
  background-color: var(--grey-300);
  color: #333;
  padding: 10px;
  border: 1px solid var(--grey-500);
  border-radius: 10px;
}

.item-img img {
  height: 30px;
}

.item-description h5 {
  font-size: 1rem;
  font-weight: bold;
}

.item-description a {
  color: var(--red-400);
  font-weight: 600;
}

.product-name {
  justify-content: space-between;
  gap: 40px;
}

.highlight {
  background-color: #f0932b;
  background-color: var(--faded-500);
}

/*
================================================================================================================================
Display
================================================================================================================================
*/
.display .container-5 {
  overflow: visible;
  padding: 0 15px;
}

.display .grid {
  justify-content: flex-start;
  align-items: flex-start;
  grid-template-columns: 2fr 6fr;
}

.category h3 {
  color: var(--tone-500);
  font-weight: 600;
  font-size: 25px;
}

.category-seller {
  position: sticky;
  top: 20px;
}

.category.card {
  max-width: 300px;
  border: 1px solid var(--grey-400);
  background-color: var(--tone-100);
}

.category .flex {
  justify-content: space-between;
}

.category li {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--grey-300);
}

.category img {
  width: 30px;
  border-radius: 7px;
}

.category-list p {
  letter-spacing: 1px;
}

.seller {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  border-radius: 7px;
  padding: 20px;
  margin: 10px;
}

.seller h3 {
  color: var(--tone-600);
  font-weight: 600;
  font-size: 25px;
}

.seller-description .title {
  font-family: var(--bodyfont-9);
  font-size: 16px;
}

.category-seller a:hover {
  color: var(--faded-500);
}

.category-seller a:focus {
  outline: none;
  color: var(--faded-500);
}

.seller-item {
  border-bottom: 2px solid var(--grey-300);
  justify-content: flex-start;
}

.seller-item img {
  width: 50px;
  padding: 20px 0;
}

.rate-icons i {
  padding: 0px;
  margin: 0px;
  color: #f9932b;
}

.rate-icons {
  padding: 10px;
  gap: 1px;
  justify-content: flex-start;
}

.cost {
  justify-content: flex-start;
}

.cost h5 {
  font-size: 16px;
}

.cost h4 {
  font-size: 20px;
  font-family: var(--bodyfont-3);
  color: var(--red-500);
}

.striked {
  text-decoration: line-through var(--grey-600) solid 2px;
}

/* ================ Display showcase ================== */
.display-showcase {
  gap: 10px;
}

.display-showcase .grid {
  grid-template-columns: repeat(2, 1fr);
  height: 450px;
}

.tabs {
  max-width: 340px;
  padding-bottom: 10px;
  overflow-x: hidden;
  background-color: var(--background-color);
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.tabs:hover {
  overflow: auto hidden;
}

.tabs::-webkit-scrollbar {
  width: 1vh;
  height: 1vh;
}

.tabs::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

.tabs::-webkit-scrollbar-thumb {
  background-color: var(--tone-200);
  border-radius: 50px;
  border: 1px solid var(--grey-300);
}

.tabs::-webkit-scrollbar-thumb:hover {
  background-color: var(--tone-300);
}

.tab {
  scroll-snap-align: start;
}

.display-title {
  font-weight: 600;
  margin: 0 10px 20px 10px;
  padding: 10px;
  border-bottom: 2px solid var(--grey-400);
}

.display-showcase .card {
  padding: 10px 10px;
  overflow: visible;
  max-width: 310px;
  border: 1px solid var(--grey-400);
  background-color: var(--tone-100);
  box-shadow: none;
}

.collection {
  justify-content: flex-start;
  gap: 15px;
}

.collection.card {
  width: 500px;
}

.collection img {
  width: 80px;
  border-radius: 7px;
}

.collection-description h4 {
  font-size: 19px;
}

.collection-description .vet {
  font-size: 17px;
  color: var(--grey-600);
  font-weight: 600;
}

.collection-description .vet {
  animation: walk-left;
  animation-duration: 3s;
}

@keyframes walk-left {
  0% {
  }
}

.item-name {
  padding: 5px 0;
  font-size: 17px;
}

.item-name:hover {
  color: var(--faded-500);
}

.item-name:focus {
  outline: none;
  font-weight: bold;
  color: var(--secondary-500);
}

.collection-description .cost h4 {
  color: var(--red-400);
  font-weight: bold;
}

.deals-1,
.deals-2 {
  padding: 40px;
}

.deals .grid {
  grid-template-columns: 3fr 4fr;
  align-items: center;
}

.deals img {
  width: 400px;
  text-align: center;
  background-color: var(--sip-300);
  border: 2px solid var(--red-300);
  border-radius: 50%;
  padding: 20px 0;
}

.deals-2 img {
  border: 2px solid var(--tint-300);
  background-color: var(--tint-800);
}

.actual-cost {
  color: #f0932b;
}

.deals .striked {
  color: var(--grey-700);
}

.deals .btn {
  background-color: var(--sip-500);
  /* background-color: var(--low-500); */
}

.deals-2 .btn {
  background-color: var(--tint-700);
}

.deals button h4 {
  color: var(--light-color);
}

.progress-details {
  justify-content: space-between;
  margin: 0 20px;
}

.progress {
  background-color: var(--grey-300);
  padding: 5px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.time {
  justify-content: flex-start;
}

.time .card {
  background-color: var(--grey-300);
  gap: 0px;
  margin: 0;
  box-shadow: none;
}

.new {
  gap: 10px;
}

.new .card {
  position: relative;
  overflow: hidden;
  max-width: 230px;
  height: 420px;
  border: 1px solid var(--grey-400);
  box-shadow: var(--shadow-1);
  background-color: #fffffb;
  transition: var(--transition-3);
}

.new .card:hover {
  box-shadow: var(--shadow-4);
}

.view-img {
  height: 200px;
  transition: var(--transition-3);
}

.view-img:hover {
  transform: scale(1.2);
}

.new .offer {
  position: absolute;
  background-color: var(--tint-600);
  padding: 2px 5px;
  border-radius: 4px;
  top: 15px;
  left: 15px;
}

.new #no1 .offer h5 {
  color: var(--light-color);
}

.new .sale-new {
  position: absolute;
  top: 10px;
  left: -50px;
  padding: 5px 20px;
  width: 150px;
  transform: rotateZ(-45deg);
}

.new .sale-new {
  background-color: var(--dark-color);
}

.new #no4 .sale-new,
.new #no12 .sale-new {
  background-color: var(--faded-400);
}

.new .sale-new h5 {
  color: var(--light-color);
  text-align: center;
  font-size: 14px;
}

.new .card:hover .options {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  animation-name: options;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.new .options {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-right: 5px;
  padding: 3px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  animation-name: options-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transition: 1s;
}

.new .options a {
  border: 1px solid var(--grey-400);
  background-color: var(--light-color);
  padding: 1px;
  border-radius: 5px;
  transition: 1s;
}

.new .options a:hover {
  background-color: var(--dark-color);
}

.new .options i {
  color: var(--grey-600);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.new .options i:hover {
  color: var(--light-color);
}

.jacket {
  background-image: url("../images/products/jacket-3.jpg");
}

.shirt {
  background-image: url("../images/products/shirt-1.jpg");
}

.trench {
  background-image: url("../images/products/jacket-5.jpg");
}

.skirt {
  background-image: url("../images/products/clothes-3.jpg");
}

.casual {
  background-image: url("../images/products/shoe-2.jpg");
}

.pocket-watch {
  background-image: url("../images/products/watch-3.jpg");
}

.wrist-watch {
  background-image: url("../images/products/watch-1.jpg");
}

.party {
  background-image: url("../images/products/party-wear-1.jpg");
}

.coat {
  background-image: url("../images/products/jacket-1.jpg");
}

.sports {
  background-image: url("../images/products/sports-2.jpg");
}

.formal {
  background-image: url("../images/products/shoe-1.jpg");
}

.shorts {
  background-image: url("../images/products/shorts-1.jpg");
}

.new-title {
  color: var(--red-500);
  font-weight: 600;
}

.view .rate-icons {
  padding: 5px 0;
}

.tese-2 {
  display: none;
}

.testimony-services .grid {
  grid-template-columns: 1fr 2fr 1fr;
}

.testimony-services .display-title {
  text-align: left;
}

.testimony-services i {
  color: var(--faded-500);
}

.testimony-services .display-title {
  font-size: 20px;
}

.testimonials img {
  display: grid;
  justify-items: center;
  width: 120px;
  border-radius: 50%;
}

.testimonials .imag {
  display: grid;
  justify-content: center;
}

.summer-collection {
  background-image: url(../images/cta-banner.jpg);
  height: 450px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.summer-collection .card {
  opacity: 60%;
}

.discount {
  background-color: var(--dark-color);
  color: var(--light-color);
  max-width: 130px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  left: 25%;
}

.blade h4 {
  font-size: 17px;
  font-weight: 600;
  font-family: var(--bodyfont-6);
}

.blade h5 {
  font-family: var(--bodyfont-6);
}

.blade .flex {
  justify-content: flex-start;
  gap: 0;
}

.blade .flex i:hover {
  color: var(--dark-color);
}

/*
================================================================================================================================
Exhibition
================================================================================================================================
*/
.exhibition img {
  width: 300px;
  border-radius: 10px;
}

.edition-item {
  width: 300px;
}

.edition {
  gap: 40px;
}

.indice {
  color: var(--red-300);
  letter-spacing: 1px;
}

.sip {
  font-weight: 600;
}

.flip {
  font-size: 14px;
}

/*
================================================================================================================================
Footer
================================================================================================================================
*/
.footer {
  padding-bottom: 2rem;
  background-color: #232946;
  border-radius: 5px 5px 0px 0px;
}

.footer h4,
.footer h3 {
  color: var(--tint-700);
}

.footer h5 {
  color: var(--sip-300);
}

.brands {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--grey-200);
  border-radius: 20px;
  color: var(--lit-700);
  color: var(--grey-600);
}

.brands .flex {
  justify-content: flex-start;
}

.brands ul h4 {
  font-size: 20px;
}

.brands .bold {
  color: var(--tint-700);
}

/* .divide {
    padding: 1px;
    background-color: var(--grey-300);
} */

.quick-links {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.quick-links li a {
  color: var(--lit-700);
  color: var(--grey-700);
}

.quick-links li a:hover {
  color: var(--lit-200);
}

.contact .flex {
  justify-content: flex-start;
  color: var(--grey-600);
}

.social {
  gap: 2px;
  padding: 5px 0;
}

.social i {
  color: var(--faded-300);
}

.social i:hover {
  color: var(--tone-100);
}

.contribution img {
  width: 400px;
}

.contribution {
  padding-top: 2rem;
  border-top: 1px solid var(--faded-300);
  border-radius: 30px;
}

.copyright h5 {
  letter-spacing: 1.5px;
}

/* Animations */
@keyframes dropdown {
  0% {
    top: 300px;
  }
  25% {
    top: 300px;
  }
}

/* @keyframes slide-bottom {
  0% {
    top: -500px;
  }
  100% {
    top: 0px;
  }
}

@keyframes slide-top {
  0% {
    right: -1500px;
  }

  100% {
    right: 0px;
    transform: rotateX(0deg);
  }
}

@keyframes slide-left {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-right {
  0% {
    left: -500px;
  }

  100% {
    left: 0px;
  }
}

@keyframes dots-slide {
  0% {
    top: 200px;
  }

  100% {
    top: -50px;
  }
}

@keyframes products-slide {
  0% {
    top: 120px;
  }

  100% {
    top: 0px;
  }
}

@keyframes options {
  0% {
    right: -60px;
  }
  100% {
    right: 0px;
  }
}

@keyframes options-out {
  0% {
    right: 0px;
  }
  100% {
    right: -60px;
  }
} */
